*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#bg1{
    width: 100%;
    height: 100vh;
    background-color: #fbeaf5;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 80px;
    /* background-color: rgb(105, 36, 36); */
    margin: 0 auto;
}

nav #logo{
    /* width: 14%; */
    /* background-color: aqua; */
    /* height: 80px; */
    display: flex;
    align-items: center;
}

nav #logo img{
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

nav #logo h3{
    font-size: 20px;
    font-weight: 600;
}

nav #list{
    display: flex;
    align-items: center;
    margin-left: 150px;
}

nav #list a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

#buttons{
    display: flex;
    align-items: center;
}

#buttons #one{
    padding: 15px 35px;
    background-color: #fff;
    color: black;
    font-size: 12px;
    /* letter-spacing: 1px; */
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    margin-right: 45px;
    border: none;
    box-shadow: 0 5px 25px rgba(147, 148, 167, 0.5);
    cursor: pointer;
}

#buttons #two{
    padding: 15px 35px;
    background-color: rgb(243, 82, 98);
    color: white;
    font-size: 12px;
    /* letter-spacing: 1px; */
    font-weight: 500;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 25px rgba(240, 100, 114, 0.938);
    cursor: pointer;
}

#midbody{
    position: relative;
    display: flex;
    width: 85%;
    margin: 80px auto;
    /* background-color: burlywood; */
}

#leftbd{
    width: 55%;
}

#leftbd h2{
    margin-top: 50px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
}

#leftbd>h5{
    margin-top: 50px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 500;
    color: black;
    opacity: .8;
}

#leftbd #btprt{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#leftbd #btprt button{
    padding: 15px 35px;
    background-color: rgb(243, 82, 98);
    color: white;
    font-size: 12px;
    /* letter-spacing: 1px; */
    font-weight: 500;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 25px rgba(240, 100, 114, 0.938);
    cursor: pointer;
}

#leftbd #btprt #circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 5px 25px rgba(147, 148, 167, 0.5);
    margin-left: 40px;
    cursor: pointer;
}

#leftbd #btprt #circle i{
    color: black;
    opacity: .9;
    font-size: 25px;
}

#leftbd #btprt>h5{
    margin-left: 10px;
    color: black;
    opacity: .8;
    font-size: 12px;
}

#rightbd{
    width: 80%;
    position: relative;
}

#rightbd img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
}

#bg2{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    /* background-color: #fbeaf5; */
    display: flex;
    justify-content: space-between;
    padding: 0 95px;
}

#left{
    width: 40%;
    height: 100%;
    /* background-color: rgb(80, 25, 25); */
    position: relative;
}

#left #first{
    margin-top: 70px;
    width: 250px;
    height: 250px;
    background-color: #ebf9ff;
    border-top-left-radius: 45px;
}

#left #second{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #f3dfed;
    right: 0;
    border-bottom-right-radius: 45px;
}

#left #third{
    width: 80%;
    position: absolute;
    top: 18%;
    left: 10%;
}

#left #third img{
    width: 100%;
}

#right{
    width: 50%;
    height: 100%;
    /* background-color: #dadada; */
    padding-left: 50px;
}

#right h1{
    margin-top: 85px;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

#rightmid{
    /* width: 100%; */
    margin-top: 50px;
}

.rightCent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.badge{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%; 
    box-shadow: 0 5px 25px rgba(147, 148, 167, 0.5);
}

.badge i{
    color: #f15060;
    font-size: 20px;
}

.text{
    width: 80%;
    /* margin-top: 20px; */
}

.text h3{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.text p{
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
    opacity: .5;
}

#bg3{
    width: 100%;
    height: 100vh;
    /* background-color: blanchedalmond; */
    padding-top: 1px;
    position: relative;
    /* padding: 0 95px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bg3 h4{
    text-transform: uppercase;
    color: #f15060;
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#bg3 h1{
    text-align: center;
    color: black;
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    margin-top: 80px;
}

#bg3 img{
    width: 85%;
    margin-top: 40px;
}

#bg4 {
    width: 65%;
    margin: 0 auto;
    height: 80vh;
    /* background-color: #dadada; */
    padding-top: 1px;
}

#bg4>h5{
    color: #3232eee0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 100px;
    text-transform: uppercase;
}

#bg4>h3{
    color: black;
    font-size:30px;
    font-weight: 600;
}

#bg4 #main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#main #first1{
    width: 250px;
    height: 250px;
    /* background-color: blueviolet; */
    background: rgb(233,248,254);
    background: linear-gradient(120deg, rgba(233,248,254,1) 35%, rgba(233,234,249,1) 65%);
    border-radius: 25px;
    margin-top: 40px;
    position: relative;
}

#main #second1{
    width: 250px;
    height: 250px;
    /* background-color: blueviolet; */
    background: rgb(255,247,238);
    background: linear-gradient(120deg, rgba(255,247,238,1) 35%, rgba(246,233,215,1) 65%);
    border-radius: 25px;
    margin-top: 40px;
    position: relative;
}

#main #third1{
    width: 250px;
    height: 250px;
    /* background-color: blueviolet; */
    background: rgb(252,238,247);
    background: linear-gradient(120deg, rgba(252,238,247,1) 35%, rgba(244,217,235,1) 65%);
    border-radius: 25px;
    margin-top: 40px;
    position: relative;
}

.square{
    width: 185px;
    height: 185px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 25px rgba(147, 148, 167, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square .letter{
    font-size: 25px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.square .little{
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-align: center;
    opacity: .5;
}

#bg5{
    width: 85%;
    height: 100vh;
    /* background-color: burlywood; */
    margin: 0 auto;
    padding-top: 1px;
    position: relative;
}

#bg5>h1{
    margin-top: 70px;
    font-size: 30px;
    /* text-align: center; */
    font-weight: 600;
    color: black;
}

#bg5>h5{
    margin-top: 30px;
    width: 30%;
    font-size: 11px;
    color: black;
    font-size: 400;
    opacity: .8;
    line-height: 25px;
}

#block{
    width: 35%;
    /* background-color: #dadada; */
}

#block #min1{
    width: 100%;
    height: 80px;
    background-color:#fae5f4;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#block #min2{
    width: 100%;
    height: 80px;
    background-color:#fdf2e4;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

#block #min3{
    width: 100%;
    height: 80px;
    background-color:#e0eef5;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.circle5{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgba(147, 148, 167, 0.5);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon1{
    color: #eb4d5e;
    font-size: 22px;
}

#icon2{
    font-size: 22px;
    color: #7e324f;
}

#icon3{
    font-size: 22px;
    color: #ade5e3;
}

#data1{
    margin-left: 30px;
    color: #b14991;
    font-size: 15px;
    font-weight: 600;
}

#data2{
    margin-left: 30px;
    color: #c3822f;
    font-size: 15px;
    font-weight: 600;
}

#data3{
    margin-left: 30px;
    color: #18427c;
    font-size: 15px;
    font-weight: 600;
}

#imgs{
    width: 65%;
    /* position: relative; */
}

#imgs>img{
    position: absolute;
    width: 60%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#bg6{
    width: 100%;
    height: 80vh;
    background-color: #1f2131;
    padding: 0 95px;
    padding-top: 1px;
}

#bg6 #bar{
    width: 100%;
    height: 100px;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

#bar>h1{
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    color: #fff;
}

#bar>button{
    padding: 15px 35px;
    background-color: rgb(243, 82, 98);
    color: white;
    font-size: 12px;
    /* letter-spacing: 1px; */
    font-weight: 500;
    outline: none;
    border-radius: 10px;
    border: none;
    /* box-shadow: 0 5px 25px rgba(240, 100, 114, 0.938); */
    cursor: pointer;
}

#bg6 #line{
    width: 100%;
    height: 2px;
    background-color: #dadada1e;
    border-radius: 50px;
    margin-top: 60px;
}

#foot{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.company{
    /* width: 8%; */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.company>h3{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

.company>a{
    text-decoration: none;
    color: #dadada;
    opacity: .3;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
}